h1, h2, h3, h4, h5, h6 {
    display: inline;
}

#user-input-div, #loading-div-container{
	position:fixed;
	width: 500px;
	min-height: 80px;
	top:calc(50% - 40px);
	bottom:calc(50% - 40px);
	right:calc(50% - 250px);
	left:calc(50% - 250px);	
	z-index:10;	
	display: none;  /* this must be set to flex*/
	justify-content:space-around;
}

#loading-div-container{
	text-align: center;	
	border: 1px black;
}

#outer-container{
	display:none;
}

#user-input-text{
	margin-right: 10px;
}

#group-by-selection{
	cursor: pointer;
	font-weight: bold;
}
.dimension{
	
}

.selected-card{
	/*background-color: #343a40 !important; */
	background-color: #209cee !important;	
	
	color: white;
	border-bottom-width: 0px;
}

.unselected-dimension-content{
	/*display: none;*/
}
.selected-dimension-content{
	/*display: block !important;*/
}

.selected-group{
  	border-right: 6px solid #209cee;
}

.groups-container{
	margin-top: 20px;
}

.group-div{

	/*min-height: 60px;*/
	cursor: pointer;
}

.song, .song-info{
	height: 100px;	
}

.song.unpassed{
	background-color: rgb(255, 0, 0, 0.08);
}
.song.passed{
	background-color: rgb(0, 255, 0, 0.08);
}

.song-img{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border: 2px solid #209cee;
}

.song-author, .song-name{
	font-size: 18px;
	font-weight: bold;
}

.difficulty{
	font-size: 14px;
	font-weight: bold;
}

.expert-plus{
	color: #8f48db
}
.expert{
	color: #bf2a42
}
.hard{
	color: tomato;
}
.normal{
	color: #59b0f4;
}
.easy{
	color: MediumSeaGreen;
}